<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<listener>
		<listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
	</listener>
	
	<!-- We only need to map the dispatcher servlet here. -->
	<!-- Mapping of specific resources is done in ScalatraBootstrap.scala -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.scalatra.gae.Dispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/base/*</url-pattern>
	</servlet-mapping>
	
</web-app>